.todoapp {
    height: 30rem;
    width: 35rem;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: var(--lightfg);
}

.todoapp .addTodosSection {
    display: flex;
}

.todo-checked {
    color: grey;
    text-decoration: line-through;
}